.body{
    margin:0 auto;
    width: 1000px;
}
.headtitle{
    font: 22px Arial, Helvetica, sans-serif;
    line-height: 275%;

    float: left;
    width: 100%;

}
.main_body {
    word-break: break-all;
    float: left;
    width: 100%;
}
.infomations {
    float: left;
    width: 500px
}
.maininfo {
    float: left;
    max-width: 300px;
    word-wrap: break-word
}
.pl {
    font: 15px Arial, Helvetica, sans-serif;
    line-height: 225%;
    color: #666666;

}
.votes{
    padding-top: 50px;
    margin-top: 50px;
    float: right;
}
.rl{
    font: 18px Arial, Helvetica, sans-serif;
    line-height: 250%;
    color:#000000;
}
.little_margin{

}
#wrapper {
    width: 950px;
    margin: 0 auto
}

#content {
    min-height: 420px
}

#mainpic {
    margin: 3px 0 0 0;
    float: left;
    text-align: center;
    margin: 3px 12px 0 0;
    max-width: 155px;
    overflow: hidden
}

#mainpic a img {
    margin-bottom: 10px
}

.summary_body{
    margin-outside: 20px;
}
.summary_title{
    font: 18px Arial, Helvetica, sans-serif;
    line-height: 275%;
    padding-left:50px;
    float: left;
    width: 100%;
}
.summary_summary{
    float: left;
}
.p2{
    text-indent:2em;
    font: 14px Arial;
    line-height: 150%;
}

.author_body{
     margin-outside: 20px;
 }
.author_title{
    font: 18px Arial, Helvetica, sans-serif;
    line-height: 275%;
    padding-left:50px;
    float: left;
    width: 100%;
}
.author_summary{
    float: left;
}
.catalog_body{
    margin-outside: 20px;
}
.catalog_title{
    font: 18px Arial, Helvetica, sans-serif;
    line-height: 275%;
    padding-left:50px;
    float: left;
    width: 100%;
}
.catalog_summary{
    float: left;
}
.p3{
     font: 14px Arial;
     line-height: 150%;
    height: 440px;
    overflow : hidden;
    text-overflow: ellipsis;
 }
.review_body{
    margin-outside: 20px;
    float: left;
}
.review_title{
    font: 18px Arial, Helvetica, sans-serif;
    line-height: 275%;
    padding-left:50px;
    float: left;
    width: 100%;
}
.review_author{
    text-align: left;
}

.p4{
    font: 14px Arial;
    line-height: 150%;
    color: #666666;
}
.cell_dashed{
    border-bottom:1px dashed #999999;
    height: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}