.body{
    margin:0 auto;
    width: 1000px;
}
.headtitle{
    font: 22px Arial, Helvetica, sans-serif;
    line-height: 275%;
    width: 100%;
}
.main_body {
    word-break: break-all;
    width: 100%;
    top: 1rem;
    padding: 1rem 1rem 2rem 3rem;
    position: relative;
}
.infomations {
    width: 33rem;
    word-wrap: break-word;
    border-right: rgba(0, 0, 0, 0.05) 1px solid;
}
.pl {
    font: 15px Arial, Helvetica, sans-serif;
    line-height: 225%;
    color: #666666;

}
.votes{
    position: absolute;
    right: 6rem;
    top: 5rem;
}
.rl{
    font: 18px Arial, Helvetica, sans-serif;
    line-height: 250%;
    color:#000000;
}
#wrapper {
    width: 950px;
    margin: 0 auto
}

#content {
    min-height: 420px
}

#mainpic {
    float: left;
    text-align: center;
    max-width: 155px;
    overflow: hidden
}

#mainpic a img {
    margin-bottom: 10px
}

.summary_body{
    top:1rem;
    position: relative;
    margin-bottom: 2rem;
}
.summary_title{
    font: 18px Arial, Helvetica, sans-serif;
    line-height: 275%;
    width: 100%;
}
.summary_summary{
}
.p2{
    text-indent:2em;
    font: 14px Arial;
    line-height: 150%;
}
.author_body{
    margin-bottom: 2rem;
 }
.author_title{
    font: 18px Arial, Helvetica, sans-serif;
    line-height: 275%;
    padding-left:50px;
    width: 100%;
}
.author_summary{
}
.catalog_body{
    margin-bottom: 2rem;
}
.catalog_title{
    font: 18px Arial, Helvetica, sans-serif;
    line-height: 275%;
    padding-left:50px;
    width: 100%;
}
.catalog_summary{
}
.p3{
    padding-left: 1rem;
    font: 14px Arial;
    line-height: 150%;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-all;
    -webkit-line-clamp: 20;
 }
.review_body{
}
.review_title{
    font: 18px Arial, Helvetica, sans-serif;
    line-height: 275%;
    padding-left:50px;
    width: 100%;
}
.review_author{
}
.p4{
    font: 14px Arial;
    line-height: 150%;
    color: #666666;
}
.cell_dashed{
    border-bottom:1px dashed #999999;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.review_summary{
    text-indent:2em;
    font: 14px Arial;
    line-height: 150%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-all;
    -webkit-line-clamp: 3;
}
